.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'OCR A Std', monospace;
    font-weight: bold;
    font-size: 28px;
    border-radius: 10px;
    color: #007bff;
    padding: 20px 20px 50px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-image: linear-gradient(to bottom right, #007bff , #70B5FF);
}